<div class="header">
  <h3 class="text-muted">goEuro</h3>
</div>

<div class="jumbotron search">
  <div class="user-location" ng-controller="GeoLocationCtrl">
    <div class="location" ng-hide="located">Please allow location to enable search results</div>
    <div class="location" ng-show="located">Sie in {{location.name}} sind</div>
  </div>


    <form role="form" class="form-inline">
        <!-- locations -->
        <div class="form-group destination" ng-controller="DestinationSuggestionCtrl">
            <div is-open="status.isopen" class="dropdown">
              <label class="sr-only" for="location">Location</label>
              <input type="text" name="location" class="form-control dropdown-toggle" placeholder="enter location"
                     ng-model="searchQuery" ng-change="search(searchQuery)">
              </input>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="destination in suggestions">
                  <a href="" ng-click="setDestination(destination)">{{destination.fullName}}<span class="label small">{{destination.distance}} km</span></a>
                </li>
              </ul>
            </div>
        </div>
        <div class="form-group date" ng-controller="DatePickerCtrl" ng-init="setInitialDate(14)">
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="14" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="setDate(dt, 'from')"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="form-group date" ng-controller="DatePickerCtrl" ng-init="setInitialDate(21)">
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="21" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="setDate(dt, 'to')"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="form-group submit">
          <div ng-controller="SearchQueryCtrl">
            <div class="settings" ng-show="valid">
              {{destination}} for {{days}} days
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right">GO</button>
        </div>
        <!-- dates -->
    </form>

</div>



<div class="footer">
  <p>♥ from Dario</p>
</div>
